<!DOCTYPE html>
<html>
<head>
	<title>Corona</title>
</head>
<body>
	<a href="ageGroup">Agegroupchart</a>
</body>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-base.min.js"></script>
</html>