<!DOCTYPE html>
<html>
<head>
	<title>Corona</title>
	<style type="text/css">
		body{
			width: cover;
			height: 610px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
		a{
			font-size: 25px;
			color: #add8e6;
			padding: 10px;
			text-decoration: none;
			border: 1px solid #add8e6;
		}
		a:hover{
			background: #add8e6;
			color: white;
			transition-duration: .5s;
		}
	</style>
</head>
<body>
	<a href="ageGroup">Corona Visual </a>
</body>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-base.min.js"></script>
</html>